label {
    display: block;
    margin-top: 10px;
}

input {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%; /* Adjusted width to 100% */
}

input[type="range"]::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    border-bottom: 1px solid #29334f;
    background: black;
}

.first, .second {
    display: block;
    width: 100%;
}

.gen {
    display: flex;
    flex-direction: column; /* Adjusted to column for better mobile display */
    margin: 0 auto;
}

form {
    width: 80%; /* Adjusted form width for better mobile display */
    margin: 0 auto;
}

.end {
    display: flex;
    flex-direction: column; /* Adjusted to column for better mobile display */
    align-items: center;
    justify-content: center;
}

.lab {
    text-align: center;
    align-items: center;
    align-self: center;
    font-size: 25px;
}

#estimatedCost {
    font-size: 25px;
    color: green;
}

.price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.calc {
    margin: 0 auto;
    width: 80%; /* Adjusted for better mobile display */
    text-align: center;
    font-size: 30px; /* Adjusted font size for better mobile display */
}
